* {
    padding: 0;
    margin: 0;
}

body {
    background-color: cornsilk;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header'
                         'main main main'
                         'main main main'
                         'main main main'
                         'main main main'
                         'footer footer footer';
}

/* inicio header */
.head {
    grid-area: header;
}

.head header {
    width: 100%;
    height: 5em;
    background-color: burlywood;
    display: flex;
}

.head header h1 {
    font-size: 2.8em;
    width: 100%;
    text-align: center;
    padding-top: 0.3em;
} 

.head header nav {
    position: absolute;
    top: 2.5em;
    height: 7.5em;
    width: 100%;
    background-color: rgb(50, 50, 50);
    font-size: 2em;
    text-align: center;
    z-index: 98;
}

.head header nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.head header nav ul li{
    list-style: none;
}

.head header nav ul li a {
    color: white;
    text-decoration: none;
}

#menu {
    display: block;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 99;
}

#menu span i {
    font-size: 2.5em;
}

#menu-check, #menu-cerrar{
    display: none;
}

#menu-check:not(:checked) ~ nav {
    display: none;
}

#menu-check:checked ~ nav {
    display: block;
}

#menu-check:checked ~ label #menu-abrir {
    display: none;
}

#menu-check:checked ~ label #menu-cerrar {
    display: block;
}

.active-page {
    font-weight: bold;
}
/* fin header */


/* inicio main body */
.main {
    grid-area: main;
}


#relleno {
    width: 100%;
    height: 1200px;
}

.formBox {
    display: block;
    padding: 0.5em;
    margin: 0.7em;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.4em;
    background-color: whitesmoke;
    box-shadow: 0.2em 0.2em 0.2em gray;
}

[class*="campo"], .cajaComentarios {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.4em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}

[class*="campo"] legend, .cajaComentarios legend {
    font-size: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

[class*="campo"] input{
    width: 100%;
    font-size: 1.5em;
    background: none;
    border: 0;
    outline: none;
}

.cajaComentarios textarea{
    display: block;
    width: 100%;
    font-size: 1.5em;
    resize: vertical;
    background: none;
    border: 0;
    outline: none;
}

#botonEnviar {
    display: block;
    width: 98%;
    height: 2em;
    margin-left: 1%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    
}

 /* fin main body*/


/* inicio footer */
.foot {
    grid-area: footer;
}

.foot footer {
    width: 100%;
    height: 50px;
    color: azure;
    background-color: black;
}

.foot footer p{
    text-align: center;
    padding-top: 10px;
}
/* fin footer */

@media only screen and (min-width: 600px) {
    
    /* inicio header */
    .head header h1 {
        width: auto;
        text-align: center;
        padding-left: 0.5em;
    }

    .head header nav {
        top: 0;
        right: 0;
        height: 100%;
        width: 7.5em;
        padding-top: 2em;
        padding-right: 2em;
        font-size: 2.2em;
        text-align: right;
        z-index: 98;
    }

    .head header nav ul {
        display: block;
    }

    .head header nav ul li {
        margin-bottom: 0.5em;
    }

    #menu-cerrar {
        color: white;
    }
    /* fin header */
}

@media only screen and (min-width: 1200px) {
    
    /* inicio header */
    .head header nav {
        height:2.5em;
        width: 23em;
        padding-top: 0em;
        padding-right: 0em;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        font-size: 2em;
    }

    .head header nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .head header nav ul li {
        margin-bottom: 0;
    }

    .head header nav ul li a {
        color: black;
    }

    #menu {
        display: none;
    }

    #menu-check:not(:checked) ~ nav {
        display: block;
    }
    /* fin header */
}